@import "./base.scss";

:root {
    --color--negative-background: theme('colors.red.200');
    --color--negative-text: theme('colors.red.500');
    --color--negative-text-dark: var(--color--red-25);
    --color--negative-background-dark: hsl(var(--color--red-70-h), 40%, var(--color--red-60-l));
    --color--neutral-background: theme('colors.amber.100');
    --color--neutral-text: theme('colors.amber.500');
    --color--neutral-text-dark: var(--color--yellow-50);
    --color--neutral-background-dark: hsl(var(--color--yellow-70-h), 60%, var(--color--yellow-70-l));
    --color--positive-background: theme('colors.green.200');
    --color--positive-text: theme('colors.green.500');
    --color--positive-text-dark: var(--color--green-50);
    --color--positive-background-dark: hsl(var(--color--green-70-h), 50%, var(--color--green-60-l));
}

h3 {
  margin: 0;
}

.grid {
  margin: 0;
}

.eval-negative {
  background-color: var(--color--negative-background);
  .-dark & {
    background-color: var(--color--negative-background-dark);
  }
}

.eval-neutral {
  background-color: var(--color--neutral-background);
  .-dark & {
    background-color: var(--color--neutral-background-dark);
  }
}

.eval-positive {
  background-color: var(--color--positive-background);
  .-dark & {
    background-color: var(--color--positive-background-dark);
  }
}

.text-negative {
  color: var(--color--negative-text);
  .-dark & {
    color: var(--color--negative-text-dark);
  }
}

.text-neutral {
  color: var(--color--neutral-text);
  .-dark & {
    color: var(--color--neutral-text-dark);
  }
}

.text-positive {
  color: var(--color--positive-text);
  .-dark & {
    color: var(--color--positive-text-dark);
  }
}

.p-tooltip-text {
  white-space: nowrap;
}

.p-badge {
  background: theme('colors.gray.300');
}

.p-buttonset .p-button:first-of-type:not(:only-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-buttonset .p-button:last-of-type:not(:only-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
