@import "./base.scss";
@import 'primeflex/primeflex.scss';

.grid {
  margin: 0;
}

.eval-negative {
  background-color: var(--red-200);
}

.eval-medium {
  background-color: var(--yellow-300);
}

.eval-positive {
  background-color: var(--green-200);
}

.p-tooltip-text {
  white-space: nowrap;
}
